# =========================
# Database
# =========================

*.db


# =========================
# Python
# =========================

__pycache__/
*.pyc


# =========================
# Environment
# =========================

.env


# =========================
# Streamlit
# =========================

.streamlit/